/*All site styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');


nav {
  text-align: center;
  background-color: #35dccc;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

nav ul li {
  display: inline;
}

nav a {
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none; 
  color: white;
  
}

h1 {
	text-align: center;
	font-family: 'Dancing Script';
	color: #333;
	
}

h2 {
	text-align: center;
	color: #333;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
}

header {
	background-color: #0077cc;
	color: #333;
	padding: 20px;
	text-align: center;
}

#main_section{
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
	background-color: #35dccc;
	color: #fff;
	text-align: center;
	padding: 15px;
}
/* Game page styles */
#Omori {
	width: 200px;
	height: auto;
}

#Galaxy {
	width: 200px;
	height: auto;
}

#Escape {
	width: 200px;
	height: auto;
}
/* index page styles */
#Real {
	width: 200px;
	height: auto;
	display: block;
	margin-left: 500px;
	margin-right: auto;
}

#Drawing {
	width: 150px;
	height: auto;
	margin-left: 350px;
	margin-right: auto;
}
/* resume page styles */
#resumse h2 {
	text-align: left;
}